<li>
  <%= gravatar_for user, size: 52 %>
  <div>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
          data: { confirm: "You sure?" } %>
    <% end %>
  </div>
  <div>
    <%= mail_to user.email %>
  </div>
</li>
