<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= form_for(@user) do |f| %>

    <%= render 'fields', f: f %>

    <div class="form-group">
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    </div>

    <% end %>
  </div>
</div>
